<li class="assessment <%= current ? 'current' : 'completed' %> container">
  <div class="col-md-2 col complete">
    <% if assessment.blank? %>
      <div class="percentComplete"><span>0%</span> complete</div>
    <% else %>
      <% if current && %>
        <div class="percentComplete"><span><%= ProgressCalculator.new(assessment).percentage_progress %>%</span> complete</div>
      <% else %>
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-7 col details">
     <% if assessment.blank? %>
       <%= content_tag :h2, "Start a new assessment", class: "assessmentTitle" %>
     <% else %>
       <%= content_tag :h2, assessment.title, class: "assessmentTitle" %>
  
       <span class="started glyphicon glyphicon-calendar" aria-hidden="true"></span> 
       <%= content_tag :span, "Started: #{pretty_date(assessment.start_date)}" %>
       
       <span class="updated glyphicon glyphicon-calendar" aria-hidden="true"></span>
       <% if current %>
        <%= content_tag :span, "Last updated: #{pretty_date(assessment.updated_at)}" %>
       <% else %>
        <%= content_tag :span, "Completed: #{pretty_date(assessment.completion_date)}" %>
       <% end %>
    <% end %>
  </div>

  <div class="col-md-3 col actions">
    <% if assessment.blank? %>
      <%= link_to begin_assessment_path, class: "btn green" do %>
      Start assessment <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %> 
    <% else %>
          <% if current %>
            <%= link_to assessment_path(assessment), class: "btn green", role: "button" do %>
              Continue assessment &raquo; 
            <% end %>
          <% else %>
            <%= link_to report_path(assessment), class: "btn btn-default", role: "button" do %>
              View assessment &raquo; 
            <% end %>
          <% end %>
          <%= link_to assessment_path(assessment), method: :delete, data: { confirm: "Are you sure?" }, class: "delete" do %>
              Delete this assessment <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          <% end %>
    <% end %>
  </div>
</li>
