<div class="row">
  <div class="col-md-5"><h5 data-toggle="tooltip" 
                            data-trigger="click hover focus" 
                            data-placement="left" 
                            title="represents a broad area of operations within an organisation">Theme 
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </h5>
  </div>
  <div class="col-md-7"><h5 data-toggle="tooltip" 
                            data-trigger="click hover focus" 
                            data-placement="left" 
                            title="an activity carried out in the organisation">Activity 
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </h5>
  </div>
</div>

<% for dimension in @dimensions %>
  <div class="row highlight-dimension">
    <div class="col-md-5">
      <h5 data-toggle="tooltip"
          data-placement="left"
          data-trigger="click hover focus"
          title="<%= t("#{dimension.name}") %>"><%= dimension.title %> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h5>
      <p class = "small">
        <%= content_tag :span, "#{dimension.questions.count} questions", class: ""%>
      </p>
    </div>
    <div class="col-md-7">

      <% for activity in dimension.activities %>
        <% status = progress.progress_for_activity(activity) %>
        <%= content_tag :div, class: "row activity #{status}" do %>
          <div class="col-md-8"> <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <%= activity.title %></div>
          <div class="col-md-4">
            <% next_question = activity.next_question_for(@assessment) %>
            <% case status %>
            <% when :not_started %>
              <%= link_to t(status), assessment_question_path(@assessment, next_question), class: "btn green" %>
            <% when :in_progress %>
              <%= link_to t(status), assessment_question_path(@assessment, next_question), class: "btn orange" %>
            <% when :complete %>
              <% answer = @assessment.assessment_answers.where(question_id: activity.questions.pluck(:id).first).first %>
              <%= link_to "Edit", assessment_edit_answer_path(@assessment, answer), class: "btn", title: t(status) %>
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>
