<% content_for :title do %>My assessments<% end %>

<% if @current_assessment.blank? and @assessments.blank? %>  
  <%= render 'first_assessment' %>
<% else %>
  <% if !@assessments.empty? %>
    <div class="col-md-9"></div>
    <div class="col-md-3" id="goals">
      <%= link_to "Set goals for the next assessment", edit_assessment_targets_path(@last_assessment), class: "btn orange" %>
    </div>
  <% end %>
  
  <ul id="myAssessments">
    <% if @current_assessment.blank? %>
      <%= render 'assessment_summary', assessment: nil, current: true %>
    <% else %>
      <%= render 'assessment_summary', assessment: @current_assessment, current: true %>
    <% end %>
        
    <% for assessment in @assessments %>
      <%= render 'assessment_summary', assessment: assessment, current: false %>
    <% end %>
  </ul>     

<% end %>