<h1>New assessment</h1>
<%= form_for @assessment do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :notes %>
  <%= f.text_area :notes %>

  <%= f.submit 'Start assessment' %>
<% end %>