<% content_for :title do %>
  <%= current_user.organisation ? current_user.organisation.title : "" %> <%= @assessment.title %>
  <%= breadcrumb("Report") %>
<% end %>

<div id="mainContent" class="container">
    
      <div class="tabbable boxed parentTabs">
        <!-- Nav tabs -->
        <ul id="reportNav" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#summaryTab" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
          <li role="presentation"><a href="#activitiesTab" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
          <li role="presentation"><a href="#detailTab" aria-controls="detail" role="tab" data-toggle="tab">Detail</a></li>
          <li role="presentation"><a href="#improvementsTab" aria-controls="improvements" role="tab" data-toggle="tab">Improvements</a></li>
          <li role="presentation"><a href="#informationTab" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
        </ul>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="summaryTab">
            <%= render 'summary_tab', assessment: @assessment, scorer: @scorer %>
          </div>
          <div role="tabpanel" class="tab-pane" id="activitiesTab">
              <%= render 'activity_tab', assessment: @assessment %>
          </div>
          <div role="tabpanel" class="tab-pane" id="detailTab">
            <%= render 'detail_tab', assessment: @assessment %>
          </div>
          <div role="tabpanel" class="tab-pane" id="improvementsTab">
            <%= render 'improvements_tab', assessment: @assessment %>
          </div>
          <div role="tabpanel" class="tab-pane" id="informationTab">
            <%= render 'information_tab', assessment: @assessment %>
          </div>
        </div>
        
      </div>
      
</div>
    

