<% content_for :title do %>
  <%= @assessment.user.organisation ? @assessment.user.organisation.title : "" %> <%= @assessment.title %>
<% end %>
<% content_for :breadcrumb do %>
    <%= breadcrumb("Report") %>
<% end %>

<% if User.can_share?(current_user, @assessment) %>
  <%= render 'share_modal', assessment: @assessment %>
<% end %>

<div id="mainContent" class="container">
    
      <div class="tabbable boxed parentTabs">
        <!-- Nav tabs -->
        <ul id="reportNav" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#summaryTab" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
          <li role="presentation"><a href="#activitiesTab" aria-controls="activities" role="tab" data-toggle="tab">Maturity scores</a></li>
          <li role="presentation"><a href="#detailTab" aria-controls="detail" role="tab" data-toggle="tab">Assessment answers</a></li>
          <li role="presentation"><a href="#improvementsTab" aria-controls="improvements" role="tab" data-toggle="tab">Suggested improvements</a></li>
          <li role="presentation"><a href="#informationTab" aria-controls="information" role="tab" data-toggle="tab">Background notes</a></li>
          
          <% if User.can_share?(current_user, @assessment) %>
            <div class="pull-right" id="share-button">
              <a class="btn orange" data-toggle="modal" data-target=".share-modal">Share your report</a>
            </div> 
          <% end %>
        </ul>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="summaryTab">
            <%= render 'summary_tab', assessment: @assessment, scorer: @scorer %>
          </div>
          <div role="tabpanel" class="tab-pane" id="activitiesTab">
              <%= render 'activity_tab', assessment: @assessment %>
          </div>
          <div role="tabpanel" class="tab-pane" id="detailTab">
            <%= render 'detail_tab', assessment: @assessment %>
          </div>
          <div role="tabpanel" class="tab-pane" id="improvementsTab">
            <%= render 'improvements_tab', assessment: @assessment %>
          </div>
          <div role="tabpanel" class="tab-pane" id="informationTab">
            <%= render 'information_tab', assessment: @assessment %>
          </div>
        </div>
        
      </div>
    
</div>

<% if User.can_share?(current_user, @assessment) %>
  <% content_for :javascript_footer do %>
    $(document).ready(function(){
      $('#share-modal').modal()
    });
  <% end %>
<% end %>    

