<section class = "targets">
<%= form_tag assessment_targets_path(@assessment), method: :patch do %>

  <%= submit_tag "Save goals", class: "btn  next right", id: "submit-top" %>
  <br/>
  <br/>
  <header class="row">
    <div class = "col-md-4">
      Theme <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </div>
    <div class = "col-md-8">
      <div class = "row">
      <div class = "col-md-6">
        Activity <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </div>
      <div class = "col-md-3">
        Current Score <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </div>
      <div class = "col-md-3">
        Target Score <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </div>
      </div>
    </div>
  </header>

  <% for dimension in @dimensions %>
  <div class="row dimension">
    <div class="col-md-4 padded-cell"><h3><%= dimension.title %></h3></div>
    <div class="col-md-8">
      <% dimension.activities.each_with_index do |activity, index| %>
        <div class = "row">
          <div class="col-md-6 padded-cell"><%= activity.title %></div>
          <div class="col-md-3 padded-cell">
            <span id="<%= activity.name %>-score" class="score"><%= @scores[activity.id].score %></span>
          </div>
          <div class = "col-md-3 padded-cell">
            <%= number_field_tag "targets[#{@scores[activity.id].id}]", @scores[activity.id].target, min: 1, max: 5 %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <br/>
  <%= submit_tag "Save goals", class: "btn next right", id: "submit-bottom" %>
  
<% end %>
</section>