<% content_for :title do %><%= t :sign_up_page %><% end %>

<div class="row">
  <div class="col-md-12">
    <div>
      Register for the Open Data Pathway to record your maturity assessment scores and targets.
      <ul>
        <li>Your results are private unless you decide to share.
        <li>Each organisation can have only one account.
      </ul>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <p><span style="color: red">*</span> Required field</p>
      <div class="form-group">
        <%= f.label :associated_organisation %><span class="inline italic"><%= t :organisation_registration %></span><br />
        <%= f.hidden_field :associated_organisation, class: 'select2 ajax', data: { source: organisations_path(format: :json) }, style: "width:40%;" %>
      </div>

      <div class="form-group">
        <%= f.label :associated_country, class: "required" %><span class="inline italic"><%= t :country_registration %></span><br />
        <%= f.hidden_field :associated_country, value: resource.country.to_s, "data-validation": "required", "data-validation-error-msg": t(:country_validation), class: 'select2 ajax', data: { source: countries_path(format: :json) }, style: "width:40%;" %>
      </div>

      <div class="form-group">
        <%= f.label :name, class: "required" %><br />
        <%= f.text_field :name, "data-validation": "required", "data-validation-error-msg": t(:name_validation), style: "width:40%;" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "required" %><br />
        <%= f.email_field :email, "data-validation": "email", "data-validation-error-msg": t(:enter_email), style: "width:40%;" %>
      </div>

      <%= render "devise/shared/password", f: f %>

      <div class="checkbox">
        <%= f.label :terms_of_service do %>
          <%= f.check_box :terms_of_service, "data-validation": "required", "data-validation-error-msg": t(:accept_terms) %>
          I accept the <a href="/terms-of-use" target="_register">Terms of use</a>
        <% end %>

      </div>

      <div class="row">
        <div class="col-md-2">
          <%= f.submit t(:sign_up), class: "btn green" %>
        </div>

        <div class="col-md-4">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>


  </div>
</div>

  <% content_for :javascript_footer do %>
    $(document).ready(function(){
      attachTypeAhead();
    });
  <% end %>
