<div class="form-group">
  <%= f.label :password %>
  <% if @validatable %>
  <em>(<%= @minimum_password_length %> characters)</em>
  <% end %><br />
  <%= f.password_field :password_confirmation, 
      autofocus: true, 
      autocomplete: "off", 
      "data-validation": "length", 
      "data-validation-length": "min8", 
      "data-validation-error-msg": t(:password_validation) %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password, 
      autocomplete: "off", 
      "data-validation": "confirmation",
      "data-validation-error-msg": t(:password_confirmation) %>
</div>
