<%= render "shared/errors", object: f.object %>

<% for answer in @question.answers %>
  <p>
    <%= f.radio_button :answer_id, answer.id %> 
    <%= f.label :answer_id, answer.text, value: answer.id %>
  </p>
<% end %>

<hr/>

<%= f.label :notes, "Please enter any additional information or supporting evidence" %><br/>
<%= f.text_area :notes %>

<p>Or link to any supporting external resources</p>

<%= f.fields_for :links do |lf| %>
  <%= render "links/link_fields", f: lf %>
<% end %>

<%= link_to_add_fields "Add another link", f, :links %>
