<% content_for :title do %>New assessment<% end %>

<h3>My assessments > <%= @assessment.title %> > <%= @dimension.title %> > <%= @activity.title %> </h3>

<hr/>

<h2>Assessing: <%= @activity.title %></h2>

<h4><%= @question.text %></h4>

<%= form_for @assessment_answer, url: assessment_question_answer_path(@assessment, @question) do |f| %>
  
  <% for answer in @question.answers %>
    <p>
      <%= f.radio_button :answer_id, answer.id %> 
      <%= f.label :answer_id, answer.text, value: answer.id %>
    </p>
  <% end %>

  <hr/>

  <%= f.label :notes, "Please enter any additional information or supporting evidence" %><br/>
  <%= f.text_area :notes %>

  <p><%= f.submit "Save and continue" %></p>

<% end %>