<% content_for :title do %>New assessment<% end %>
<h4>My assessments > <%= @assessment.title %> > <%= @dimension.title %> > <%= @activity.title %> </h4>
<hr/>

<%= form_for @assessment_answer, url: assessment_question_answer_path(@assessment, @question) do |f| %>

  <h3>
    Assessing: <%= @activity.title %>
    <%= f.submit "Save and exit", class: "btn" %>
  </h3>
  
  <h4><%= @question.text %></h4>

  <%= render 'form', f: f %>

  <hr/>

  <p><%= f.submit "Save and continue", class: "btn" %></p>
<% end %>

<% content_for :javascript_footer do %>
  $(document).ready(function(){
    observe_fields_for_links();
  });
<% end %>