<% content_for :title do %>
  <%= @assessment.title %>
  <%= breadcrumb() %>
<% end %>
<div id="theAssessment">

  <%= form_for @assessment_answer, url: assessment_question_answer_path(@assessment, @question) do |f| %>
  
    <header id="assessmentHeader" class="clearfix">
      <h2><em>Assessing:</em> <%= @activity.title %></h2>
      <div class="actions">
        <%= link_to "Save and exit", assessment_path(@assessment), class: "btn" %>
        <%= f.submit "Next question &raquo;".html_safe, class: "btn green", id: "submit-top" %>
      </div>
    </header>
  
    <div class="assessmentContent">
  
      <%= render 'form', f: f %>
       
      <footer class="row">
    
          <div class="actionsFull">
            <%= link_to '&laquo; Back'.html_safe, assessment_edit_answer_path(@assessment, @previous_answer), class: "btn btn-default back" if @previous_answer %>
            <%= f.submit "Next question &raquo;".html_safe, class: "btn green next", id: "submit-bottom" %>
          </div>
    
      </footer>
      
    </div> <!-- assessmentContent -->
  
  <% end %> <!-- form -->

</div>

<% content_for :javascript_footer do %>
  $(document).ready(function(){
    observe_fields_for_links();
  });
<% end %>