<div class = "nested_object">

  <%= f.label :text %>
  <%= f.text_field :text %>

  <%= f.label :link %>
  <%= f.text_field :link %>

  <%= f.hidden_field :_destroy %>

  <%= link_to 'Remove link', '#', class: "btn delete_association" %>

</div>