<div class = "nested_object">

  <%= field_set_tag "" do %>
    
    <%= link_to 'Remove link', '#', class: "btn delete_association" %>

    <%= f.label :text, title: "The name of the link, e.g. Our Open Data Strategy" %>
    <%= f.text_field :text, placholder: "Link content e.g. Open Data Strategy", class: "form-control" %><br/>

    <%= f.label :link %>
    <%= f.text_field :link, placholder: "http://example.org", class: "form-control" %>

    <%= f.hidden_field :_destroy %>

  <% end %>

</div>