<p><%= @user.name %>,</p>

<p>Using the email address <%= @requester_email %>, a user tried to register as the admin of <%= @organisation.title %>. Since you are the current admin of this organisation they were not able to register.</p>

<p>Message from <%= @requester_email %>: </p>

<p><%= @message %></p>
