<!DOCTYPE html>
<html lang="en" prefix="foaf: http://xmlns.com/foaf/0.1/
              owl: http://www.w3.org/2002/07/owl#
              rdfs: http://www.w3.org/2000/01/rdf-schema#
              dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#
              xmlns: http://www.w3.org/ns/org#">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= t :site_title %> | <%= yield :title %></title>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="odi-blue">
    
    <%= render partial: 'layouts/header', :locals => { :title => t(:site_title), :status => "beta" } %>
    
    <div id='wrapper'>
      <% if content_for?(:header) %>
        <%= yield :header %>
      <% elsif content_for?(:title) %>
        <header class="page-title">
            <div class="container">
                <h1><%= yield :title %></h1>
                <% if content_for?(:breadcrumb) %>
                  <h4 class="breadcrumb"><%= yield :breadcrumb %></h4>
                <% end %>
            </div>
        </header>
      <% end %>

      <div class="container">
          <% if notice %>
            <div class="row"><p class="alert alert-success"><%= notice %></p></div>
          <% end %>
          <% if alert %>
            <div class="row"><p class="alert alert-danger"><%= alert %></p></div>
          <% end %>
          
          <div class="row">
            <%= yield %>
          </div>
      </div>

    </div>
    
    <%= render partial: 'layouts/footer' %>

    <%= javascript_tag do %>
      <%= yield :javascript_footer %>
    <% end %>
    
  </body>
</html>
