<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= t :site_title %> | <%= yield :title %></title>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="odi-orange">
    
    <%= render partial: 'layouts/header', :locals => { :title => t(:site_title), :status => "alpha" } %>
    
    <div id='wrapper'>
      <% if content_for?(:header) %>
        <%= yield :header %>
      <% elsif content_for?(:title) %>
        <header class="page-title">
            <div class="container">
                <h1><%= yield :title %></h1>
            </div>
        </header>
      <% end %>

      <div class="container">
          <% if notice %>
            <div class="row"><p class="alert alert-success"><%= notice %></p></div>
          <% end %>
          <% if alert %>
            <div class="row"><p class="alert alert-danger"><%= alert %></p></div>
          <% end %>

          <div class="row">
            <%= yield %>
          </div>
      </div>

    </div>
    
    <%= render partial: 'layouts/footer' %>

    <%= javascript_tag do %>
      <%= yield :javascript_footer %>
    <% end %>
    
  </body>
</html>
